<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="theme-color" content="black">

    <title>Transit</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link type="text/css" rel="stylesheet" href="/css/materialize_0_100_2.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @media only screen and (max-width: 990px) {
            html, body {
                background-color: #000000;
                color: #ffffff;
            }
        }
        @media only screen and (min-width: 992px) {
            html {
                background-image: url("/images/bg_ashoka.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                color: #ffffff;
            }
        }

        th {
            text-align: center;
        }

        .card-padding {
            padding-top: 5% !important;
            padding-bottom: 5% !important;
        }

        .button-availability:hover {
            content: 'ADD';
        }

        #toast-container {
            top: auto !important;
            right: 7%;
            bottom: 10%;
            left: auto !important;
        }
    </style>
</head>
<body>

    <nav class="navbar-fixed blue darken-4 z-depth-2 ">
        <div class="nav-wrapper">
            <a class="brand-logo"> &nbsp;Transit</a>
            <a data-activates="mobile-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="/user/vehicles/add">Add Vehicle</a></li>
                <li><a href="/user/bookings">My Bookings</a></li>
                <li><a href="/user/edit">My Profile</a></li>
                <li><a href="/user/vehicles">My Vehicles</a></li>
                <li><a href="/vehicles">See Available Seats</a></li>
                <li><a href="/authentication/logout">Sign Out</a></li>

            </ul>
        </div>
    </nav>
    <ul class="side-nav black-text" id="mobile-side-menu">
        <li class="active"><a href="/user/vehicles/add">Add Vehicle</a></li>
        <li><a href="/user/bookings">My Bookings</a></li>
        <li><a href="/user/edit">My Profile</a></li>
        <li><a href="/user/vehicles">My Vehicles</a></li>
        <li><a href="/vehicles">See Available Seats</a></li>
        <li><a href="/authentication/logout">Sign Out</a></li>
    </ul>

<main>
    <div class="section"></div>

    <div class="row animated bounceInDown">
        <div class="section hide-on-small-and-down"></div>
        <h4 class="center">Add Vehicles</h4>

        <div class="col l7 m5 push-l2 s12">
            <table class="center">
                <tbody>
                <tr>
                    <td>
                        <h5>Departure Date</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <input type="text" id="date" class="datepicker">
                            <label for="date">Enter date</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Departure Time</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <input type="text" id="time" class="timepicker">
                            <label for="time">Enter time</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Departure Place</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <select id="departure">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="Campus">Campus</option>
                                <option value="Parker">Parker</option>
                                <option value="Jahangirpuri">Jahangirpuri</option>
                                <option value="Airport T3">Airport T3</option>
                                <option value="Airport IGI">Airport (IGI)</option>
                            </select>
                            <label for="departure">Enter place</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Destination</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <select id="arrival">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="Campus">Campus</option>
                                <option value="Parker">Parker</option>
                                <option value="Jahangirpuri">Jahangirpuri</option>
                                <option value="Airport T3">Airport T3</option>
                                <option value="Airport IGI">Airport (IGI)</option>
                            </select>
                            <label for="arrival">Enter place</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Vehicle Number / Name</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="v_name" type="text" class="validate">
                            <label for="v_name">Enter vehicle number</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Available Seats</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="v_seats" type="number" class="validate" min="1">
                            <label for="v_seats">Enter seats</label>
                        </div>
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        <h5>Price (INR)</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="price" type="number" class="validate" min="0">
                            <label for="price">Enter Price</label>
                        </div>
                    </td>
                </tr>-->
                <tr>
                    <th colspan="2">
                        <button class="btn btn-large waves-effect waves-light blue darken-4" type="submit"
                                id="submit_vehicle">Submit
                        </button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section"></div>

    <form method="post" action="/user/vehicles/add" id="add_vehicle_form">
        <input name="departure_date" id="departure_date" hidden>
        <input name="departure_time" id="departure_time" hidden>
        <input name="departure_place" id="departure_place" hidden>
        <input name="arrival_place" id="arrival_place" hidden>
        <input name="vehicle_name" id="vehicle_name" hidden>
        <input name="vehicle_seats" id="vehicle_seats" hidden>
        <!--<input name="seat_price" id="seat_price" hidden>-->
    </form>
</main>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<!--<script type="text/javascript" src="js/materialize.min.js"></script>-->
<script type="text/javascript" src="/javascripts/materialize_0_100_2_min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 1, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: true, // Close upon selecting a date,
            format: 'dd-mm-yyyy',
            min: new Date()
        });
        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
            /*aftershow: function(){} //Function for after opening timepicker*/
        });
        $('select').material_select();

        document.getElementById("submit_vehicle").addEventListener("click", function () {
            if(document.getElementById("date").value.length < 1){
                Materialize.toast("Departure Date empty", 3000, 'rounded');
            }else if(document.getElementById("time").value.length < 1){
                Materialize.toast("Departure Time empty", 3000, 'rounded');
            }else if(document.getElementById("departure").value.length < 1){
                Materialize.toast("Departure Place empty", 3000, 'rounded');
            }else if(document.getElementById("arrival").value.length < 1){
                Materialize.toast("Destination empty", 3000, 'rounded');
            }else if(document.getElementById("v_name").value.replace(/[^a-zA-Z0-9]/g, "").length < 1){
                Materialize.toast("Vehicle Identification empty", 3000, 'rounded');
            }else if(document.getElementById("v_seats").value.length < 1 || document.getElementById("v_seats").value < 1){
                Materialize.toast("Vehicle Seats empty", 3000, 'rounded');
            }/*else if(document.getElementById("price").value.length < 1 || document.getElementById("price").value < 0){
                Materialize.toast("Price empty", 3000, 'rounded');
            }*/else {

                document.getElementById("departure_date").value = document.getElementById("date").value;
                document.getElementById("departure_time").value = document.getElementById("time").value;
                document.getElementById("departure_place").value = document.getElementById("departure").value;
                document.getElementById("arrival_place").value = document.getElementById("arrival").value;
                document.getElementById("vehicle_name").value = document.getElementById("v_name").value;
                document.getElementById("vehicle_seats").value = document.getElementById("v_seats").value;
                /*document.getElementById("seat_price").value = document.getElementById("price").value;*/
                document.getElementById("add_vehicle_form").submit();
            }
        });

    });
</script>
</html>
