<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="theme-color" content="black">

    <title>Ashoka Cabs</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/css/materialize_0_100_2.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @media only screen and (max-width: 990px) {
            html, body {
                background-color: #000000;
                color: #ffffff;
            }
        }
        @media only screen and (min-width: 992px) {
            html {
                background-image: url("/images/bg_ashoka.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                color: #ffffff;
            }
        }
        th {
            text-align: center;
        }

        .card-padding {
            padding-top: 5% !important;
            padding-bottom: 5% !important;
        }

        .button-availability:hover {
            content: 'ADD';
        }
        .full_width_button{
            width: 100% !important;
        }
    </style>

</head>
<body>
<main>
    <div class="section"></div>

        <div class="row animated bounceInDown">
            <div class="section hide-on-small-and-down"></div>
            <div class="col m3 push-l4 s12 push-s2 center-align">
                <img src="/images/logo.png" class="responsive-img">
                <div class="section"></div>
                    <a href="/authentication/auth/google" class="btn btn-large blue darken-4 full_width_button" id="login_button"><span class="fa fa-google-plus"></span>
                        Sign In with Gmail </a>
            </div>
        </div>

</main>

</body>
</html>
