<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="theme-color" content="black">

    <title>Transit</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/css/materialize_0_100_2.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html {
            background-image: url("/images/bg_ashoka.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: #ffffff;
        }

        th {
            text-align: center;
        }

        .card-padding {
            padding-top: 5% !important;
            padding-bottom: 5% !important;
        }

        .button-availability:hover {
            content: 'ADD';
        }
    </style>

</head>
<body>
<main>
    <div class="section"></div>

        <div class="row animated bounceInDown">
            <div class="section hide-on-small-and-down"></div>
            <div class="col l5 m5 push-l4 s12 push-s2">
                <img src="/images/logo.png" height="400">
                <div class="section"></div>
                    <a href="/authentication/auth/google" class="btn btn-large blue darken-4"><span class="fa fa-google-plus"></span>
                        &nbsp; &nbsp; Sign in using Gmail Account &nbsp; &nbsp;</a>
            </div>
        </div>

</main>
</body>
</html>
