<%
//check for empty array for new records
var name = "", contact = "", department = "";
if (typeof userProfile != 'undefined' && typeof userProfile[0] != 'undefined') {
    name = (typeof userProfile[0].name == 'undefined' ? '' : userProfile[0].name);
    contact = (typeof userProfile[0].contact == 'undefined' ? '' : userProfile[0].contact);
    department = (typeof userProfile[0].department == 'undefined' ? '' : userProfile[0].department);
}
%>
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="theme-color" content="black">

    <title>Transit</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <!--<link type="text/css" rel="stylesheet" href="css/materialize.css">-->
    <link type="text/css" rel="stylesheet" href="/css/materialize_0_100_2.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @media only screen and (max-width: 990px) {
            html, body {
                background-color: #000000;
                color: #ffffff;
            }
        }

        @media only screen and (min-width: 992px) {
            html {
                background-image: url("/images/bg_ashoka.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                color: #ffffff;
            }
        }

        th {
            text-align: center;
        }

        .card-padding {
            padding-top: 5% !important;
            padding-bottom: 5% !important;
        }

        .button-availability:hover {
            content: 'ADD';
        }

        #toast-container {
            top: auto !important;
            right: 7%;
            bottom: 10%;
            left: auto !important;
        }

    </style>
</head>
<body>
<!--<header class="animated bounceInDown">-->
<nav class="navbar-fixed blue darken-4 z-depth-2 ">
    <div class="nav-wrapper">
        <a class="brand-logo"> &nbsp;Transit</a>
        <a data-activates="mobile-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/user/vehicles/add">Add Vehicle</a></li>
            <li><a href="/user/bookings">My Bookings</a></li>
            <li class="active"><a href="/user/edit">My Profile</a></li>
            <li><a href="/user/vehicles">My Vehicles</a></li>
            <li><a href="/vehicles">See Available Bookings</a></li>
            <li><a href="/authentication/logout">Sign Out</a></li>
        </ul>
    </div>
</nav>
<ul class="side-nav black-text" id="mobile-side-menu">
    <li><a href="/user/vehicles/add">Add Vehicle</a></li>
    <li><a href="/user/bookings">My Bookings</a></li>
    <li class="active"><a href="/user/edit">My Profile</a></li>
    <li><a href="/user/vehicles">My Vehicles</a></li>
    <li><a href="/vehicles">See Available Bookings</a></li>
    <li><a href="/authentication/logout">Sign Out</a></li>
</ul>
<!--</header>-->
<main>
    <div class="section"></div>

    <div class="row animated bounceInDown">
        <div class="section hide-on-small-and-down"></div>
        <h4 class="center">My Profile</h4>

        <div class="col l7 m5 push-l2 s12">
            <table class="center">
                <tbody>
                <tr>
                    <td>
                        <h5>Name</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <% if(name.length > 0){ %>
                            <input id="name" type="text" class="validate"
                                   value="<%= name.trim() %>" required>
                            <% }else{ %>
                            <input id="name" type="text" class="validate" required>
                            <% } %>
                            <label for="name">Click here to enter name</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Contact Number</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <% if(contact != 0){ %>
                            <input id="phone_number" type="tel" class="validate"
                                   value="<%= contact.toString().trim() %>" required>
                            <% }else{ %>
                            <input id="phone_number" type="tel" class="validate" required>
                            <% } %>
                            <label for="phone_number">Click here to enter phone number</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Department</h5>
                    </td>
                    <td>
                        <div class="input-field">
                            <select id="department">
                                <% if(department.length > 0){ %>
                                <% if(department && department.trim() === "UG 1"){ %>
                                <option value="UG 1" selected>UG 1</option>
                                <% }else{ %>
                                <option value="UG 1">UG 1</option>
                                <% } %>
                                <% if(department && department.trim() === "UG 2"){ %>
                                <option value="UG 2" selected>UG 2</option>
                                <% }else{ %>
                                <option value="UG 2">UG 2</option>
                                <% } %>
                                <% if(department && department.trim() === "UG 3"){ %>
                                <option value="UG 3" selected>UG 3</option>
                                <% }else{ %>
                                <option value="UG 3">UG 3</option>
                                <% } %>
                                <% if(department && department.trim() === "ASP"){ %>
                                <option value="ASP" selected>ASP</option>
                                <% }else{ %>
                                <option value="ASP">ASP</option>
                                <% } %>
                                <% if(department && department.trim() === "YIF"){ %>
                                <option value="YIF" selected>YIF</option>
                                <% }else{ %>
                                <option value="YIF">YIF</option>
                                <% } %>
                                <% if(department && department.trim() === "MLS"){ %>
                                <option value="MLS" selected>MLS</option>
                                <% }else{ %>
                                <option value="MLS">MLS</option>
                                <% } %>
                                <% if(department && department.trim() === "MA-ECO"){ %>
                                <option value="MA-ECO" selected>MA-ECO</option>
                                <% }else{ %>
                                <option value="MA-ECO">MA-ECO</option>
                                <% } %>
                                <% if(department && department.trim() === "PHD"){ %>
                                <option value="PHD" selected>PHD</option>
                                <% }else{ %>
                                <option value="PHD">PHD</option>
                                <% } %>
                                <% if(department && department.trim() === "YSP"){ %>
                                <option value="YSP" selected>YSP</option>
                                <% }else{ %>
                                <option value="YSP">YSP</option>
                                <% } %>
                                <% if(department && department.trim() === "Faculty"){ %>
                                <option value="Faculty" selected>Faculty</option>
                                <% }else{ %>
                                <option value="Faculty">Faculty</option>
                                <% } %>
                                <% if(department && department.trim() === "Staff"){ %>
                                <option value="Staff" selected>Staff</option>
                                <% }else{ %>
                                <option value="Staff">Staff</option>
                                <% } %>
                                <% }else{ %>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="UG 1">UG 1</option>
                                <option value="UG 2">UG 2</option>
                                <option value="UG 3">UG 3</option>
                                <option value="ASP">ASP</option>
                                <option value="YIF">YIF</option>
                                <option value="MLS">MLS</option>
                                <option value="MA-ECO">MA-ECO</option>
                                <option value="PHD">PHD</option>
                                <option value="YSP">YSP</option>
                                <option value="Faculty">Faculty</option>
                                <option value="Staff">Staff</option>
                                <% } %>
                            </select>
                            <label for="department">Click here to select department</label>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button class="btn btn-large waves-effect waves-light blue darken-4"
                                id="submit_profile">Submit
                        </button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form action="/user/add" method="post" id="add_profile_form" enctype="application/x-www-form-urlencoded">
        <input name="name" id="hidden_name" hidden>
        <input name="phone" id="hidden_phone" hidden>
        <input name="department" id="hidden_department" hidden>
    </form>

</main>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/materialize_0_100_2_min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
        $(".button-collapse").sideNav();
    });
    document.getElementById("submit_profile").addEventListener("click", function () {
        if (document.getElementById("name").value.length < 1) {
            Materialize.toast("Name empty", 3000, 'rounded');
        } else if (document.getElementById("phone_number").value.length < 1) {
            Materialize.toast("Phone Number empty", 3000, 'rounded');
        } else if (document.getElementById("department").value.length < 1) {
            Materialize.toast("Department empty", 3000, 'rounded');
        } else {
            document.getElementById("hidden_name").value = document.getElementById("name").value;
            document.getElementById("hidden_phone").value = document.getElementById("phone_number").value;
            document.getElementById("hidden_department").value = document.getElementById("department").value;
            document.getElementById("add_profile_form").submit();
        }
    });
</script>
</html>
